<!-- http://websketches.ru/blog/backbone-novihkam-1 -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Привет, мир, с помощью Backbone.js</title>
  <link rel="stylesheet" type="text/css" href="tmp.css">
</head>
<body>
<section id="todoapp">
    <header id="header">
        <h1>Todos</h1>
        <input id="new-todo" 
        placeholder="Что должно быть сделано">
    </header>
    <section id="main">
        <ul id="todo-list"></ul>
    </section>
</section>
  <!-- ========= -->
  <!-- Библиотеки -->
  <!-- ========= -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js" type="text/javascript"></script>  
  
<script type="text/template" id="item-template">
    <div class="view">
        <input type="checkbox" class="toggle" 
        <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <input class="edit" value="<%- title %>">
        <button class="destroy">Удалить</button>
    </div>
</script>

  <script type="text/javascript">
    var AppView = Backbone.View.extend({
        // el - ссылка на DOM элемент, в который представление
        // вставляет сформированное содержимое
        el: '#container',
        // Функция intialize вызывается при создании
        // экземпляра представления
        template: _.template("<h3>Привет, <%= who %></h3>"),
        initialize : function () {
            this.render();
        },
        // Для вызова jQuery функций представление Backbone
        // имеет свойство $el
        render: function () {
            this.$el.html(this.template({who: 'Вовочка'}));
        }
    })
    var appView = new AppView();
    // пространство имен для нашего приложения
    var app = {};

    app.Todo = Backbone.Model.extend({
        defaults: {
            title: '',
            completed: false
        },
        toggle: function () {
            this.save({completed: !this.get('completed')});
        }
    });
    app.TodoList = Backbone.Collection.extend({
        model: app.Todo,
        localStorage: new Store("backbone-todo")
    });
    // экземпляр коллекции
    app.todoList = new app.TodoList();
    // рендерим элемент todo
    app.TodoView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($("#item-template").html()),
        render: function () {
            this.$el.html(this.template(this.model.toJSON()));
            this.input = this.$('.edit');
            return this;
        },
        initialize: function () {
            this.model.on('change', this.render, this);
            this.model.on('destroy', this.remove, this);
        },
        events: {
            'dblclick label': 'edit',
            'keypress .edit': 'updateOnEnter',
            'blur .edit': 'close',
            'click .toggle': 'toggleCompleted',
            'click .destroy': 'destroy',            
        },
        edit: function () {
            this.$el.addClass('editing');
            this.input.focus();
        },
        close: function () {
            var value = this.input.val().trim();
            if (value) {
                this.model.save({title: value});
            }
            this.$el.removeClass('editing');
        },
        updateOnEnter: function (e) {
            if (e.which == 13) {
                this.close();
            }
        },
        toggleCompleted: function () {
            this.model.toggle();
        },
        destroy: function () {
            this.model.destroy();
        }
    });
    app.AppView = Backbone.View.extend({
      el: '#todoapp',
      initialize: function () {
        this.input = this.$('#new-todo');
        // когда новые элементы добавляются в коллекцию, 
        // мы рендерим их с помощью addOne
        app.todoList.on('add', this.addOne, this);
        app.todoList.on('reset', this.addAll, this);
        app.todoList.fetch(); // Загружаем список из local storage
      },
      events: {
        'keypress #new-todo': 'createTodoOnEnter'
      },
      createTodoOnEnter: function(e){// Код клавиши ENTER = 13
        if ( e.which !== 13 || !this.input.val().trim() ) { 
          return;
        }
        app.todoList.create(this.newAttributes());
        this.input.val(''); // Очищаем input
      },
      addOne: function(todo){
        var view = new app.TodoView({model: todo});
        $('#todo-list').append(view.render().el);
      },
      addAll: function(){
        this.$('#todo-list').html(''); // Очищаем список
        app.todoList.each(this.addOne, this);
      },
      newAttributes: function(){
        return {
          title: this.input.val().trim(),
          completed: false
        }
      }
   });

   //--------------
   // Инициализация
   //--------------   

   app.appView = new app.AppView();

  </script>
  
</body>
</html>
